.indexylogo {
    background-color: black;
    margin-top: 20px;
    padding: 20px;
    width: 98%;
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    justify-content: center;
  }
  /*.logoprincipal {
    padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
  }*/
   
  nav {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    overflow: hidden;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(69, 204, 28);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 100px;
  }
  
  nav li a:hover {
    background-color: rgb(69, 204, 28);
    color: black;
  }
  
  .dropdown {
    float: left;
    position: relative;
  }
  
  .dropdown .dropbtn {
    display: block;
    color: white;
    text-align: center;
    color: rgb(69, 204, 28);
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(69, 204, 28);
    color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    z-index: 1;
    color:white;
   background-color: rgb(0, 0, 0);
    min-width: 160px;
  
  
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color:rgb(69, 204, 28);
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  h2 {
    background-color: black;
    margin-top: 20px;
    padding: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: row;
    border-radius: 100px;
    justify-content: last baseline;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  h2 mark {
    background-color: rgb(69, 204, 28);
    border-radius: 100px;
    padding: 8px;
    text-decoration: none;
  }
  h1 mark{
    background-color: rgb(69, 204, 28);
    border-radius: 100px;
    padding: 8px;
  }
  
  input[type="text"] {
    border-radius: 100px;
    padding: 8px;
    width: 300px;
  }
  
  button[type="submit"] {
    border-radius: 100px;
    padding: 8px;
  }
  .footer {
    text-align: center;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(69, 204, 28);
    position: absolute;
    width: 100%;
    list-style: none;
    border-radius: 100px;
  }
  
  .footer ul {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin: bottom 0px;
    list-style: none;
  }
  
  .footer li {
    padding: 0;
    list-style: none;
  }
  
  .footer ul a {
    color: inherit;
    text-decoration: none;
    
  }
  
  .footer ul a:hover {
    background-color: rgb(69, 204, 28);
    color: black;
    opacity: 1;
    border-radius: 100px;
    padding:4.5;
  }
  
  body {
    list-style: none;
  }
  
  .list-inline {
    list-style: none;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .formu{
    /*padding-top: 10%;*/
    color: rgb(69, 204, 28);
    font-size: large;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .formulario {
    padding-top: 1%;
    background-color: black;
    border-radius:100px;
    padding-bottom: 1%;
  }
  
  .formulario [type=email]{
    padding-top: 1%;
    border-radius:100px;
    padding-bottom: 1%;
    width: 300px;
    height: 30px;
  }
  .formulario [type=password]{
    padding-top: 1%;
    border-radius:100px;
    padding-bottom: 1%;
    width: 300px;
    height: 35px;
  }
  
  .formulario mark{
    color:rgb(0, 0, 0);
    background-color: rgb(69, 204, 28);
    border-radius: 100px;
    padding:5;
  }
  .copyright {
    text-align: center;
    padding-left: 50;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .fab {
    text-align: center;
  }
  .icons_space img {
    width: 65;
    height: 65;
  }
  .texto{
    background-color: black;
    border-radius: 100px;
    color:rgb(69, 204, 28);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 30px;
    margin-bottom: 25px;
  }
  
  
  .texto .imagen-fiesta {
    text-align: center;
    
    }
  
  
  
  .texto .imagen-fiesta img{
    padding-top: 40px;
    margin-bottom: 20px;
    border-radius: 100px;
    text-align: center;
    height: 400px;
    width: 550px;
    
   .formu{
  /*padding-top: 10%;*/
  color: rgb(69, 204, 28);
  font-size: large;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.formulario {
  padding-top: 1%;
  background-color: black;
  border-radius:100px;
  padding-bottom: 1%;
}

.formulario [type=email]{
  padding-top: 1%;
  border-radius:100px;
  padding-bottom: 1%;
  width: 300px;
  height: 30px;
}
.formulario [type=password]{
  padding-top: 1%;
  border-radius:100px;
  padding-bottom: 1%;
  width: 300px;
  height: 35px;
}

.formulario mark{
  color:rgb(0, 0, 0);
  background-color: rgb(69, 204, 28);
  border-radius: 100px;
  padding:5;
} 
      
    }
  
    .texto .textop{
    padding-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 8px;
    }
  
  
  .texto .fiesta{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
  
  }
  p mark{
    background-color: rgb(69, 204, 28);
    border-radius: 100px;
    padding: 8px;
  }